Blend/DataBindingToSampleCode/DataBindingToSampleCode/SampleData/CustomerDataSource/CustomerDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.CustomerDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.CustomerDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerDataSource" type="tns:CustomerDataSource" />
  <xs:complexType name="CustomerDataSource">
    <xs:sequence>
      <xs:element name="Customers" type="tns:Customers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Customers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CustomersItem" type="tns:CustomersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomersItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Company Name" name="Company" type="xs:string" />
    <xs:attribute blend:Format="Phone Number" name="Phone" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="Rating" type="xs:double" />
    <xs:attribute name="Picture" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>