Blend/SampleData/SampleData/SampleData/SampleInventory/SampleInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleInventory" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleInventory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleInventory" type="tns:SampleInventory" />
  <xs:complexType name="SampleInventory">
    <xs:sequence>
      <xs:element name="Contacts" type="tns:Contacts" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contacts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ContactsItem" type="tns:ContactsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactsItem">
    <xs:attribute blend:Format="Address" name="Address" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute name="Geek" type="xs:boolean" />
  </xs:complexType>
</xs:schema>